* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Outfit";
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: gray;
}

.img {
  width: 100%;
  height: 100%;
  position: relative;
}

.svg {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.woff") format("woff"), url("../fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff") format("woff"), url("../fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.woff") format("woff"), url("../fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.alert {
  position: absolute;
  text-align: center;
  line-height: 3em;
  border-radius: 1em;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.alert--success {
  background: #83b383;
  border: 2px solid #4b774b;
}
.alert--error {
  background: #e57373;
  border: 2px solid #c62828;
}
.alert.show {
  opacity: 1;
  visibility: visible;
}
.alert.hide {
  opacity: 0;
  visibility: hidden;
}

.sphere {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.sphere__glare {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 24%;
  height: 33%;
  filter: blur(18px);
  z-index: -1;
}
.sphere__glare svg {
  fill: white;
}
.sphere__area {
  position: relative;
  width: 100%;
  height: 100%;
}
.sphere__area:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 2px #E4E9EF, inset 6px 4px 10px 5px #0f303d, inset -12px 20px 47px -18px #000000, 59px 31px 28px -28px #b3b3b3, 90px 77px 45px -58px #ffffff, 88px 74px 57px -34px #b3b3b3, 15px 38px 20px -30px #0c0c0c;
}

.button {
  display: inline-block;
  color: white;
  background: rgb(31, 106, 132);
  margin: auto;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  width: auto;
  cursor: pointer;
}

.burger-button {
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
}
.burger-button span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
  top: 0;
  left: 0;
}
.burger-button span:nth-child(1) {
  top: 0;
}
.burger-button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger-button span:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}
.burger-button--active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger-button--active span:nth-child(2) {
  opacity: 0;
}
.burger-button--active span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.close-button {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.5s ease;
}
.close-button span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: transform 0.5s ease;
}
.close-button span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-button span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close-button.rotated {
  transform: rotate(360deg);
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100% - 6em);
  align-items: center;
}
.banner__img-container {
  width: 100%;
  bottom: 0;
  background: linear-gradient(90deg, #092F3F, #90E9DF);
  z-index: -1;
}
.banner__image-mask {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1px;
  z-index: 3;
  width: 98%;
}
.banner__img {
  width: 60%;
  position: relative;
  height: auto;
  justify-self: center;
}
.banner__filter {
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  box-shadow: inset -1px -46px 29px -7px #70bab4, 59px 31px 28px -28px #b3b3b3, 90px 77px 45px -58px #ffffff, 88px 74px 57px -34px #b3b3b3, 15px 38px 20px -30px #0c0c0c;
  z-index: 3;
}

.statistics__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  height: 6em;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}
.statistics__item > * {
  display: block;
  text-align: center;
}
.statistics__item > *:not(:last-child) {
  margin-bottom: 1rem;
}
.statistics__number {
  font-size: 30px;
  font-weight: 700;
}
.statistics__label {
  color: rgb(137, 137, 137);
}

.blob-group {
  position: absolute;
  overflow: hidden;
}
.blob-group__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.blob-group__container > * {
  position: absolute;
}
.blob-group__item {
  width: 100%;
  height: 100%;
}
.blob-group__item svg {
  width: 100%;
  height: 100%;
}

.form__title {
  text-align: center;
}
.form__message {
  display: none;
}
.form__message.invalid-feedback {
  display: block;
}
.form label {
  display: block;
}
.form__input {
  width: 100%;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.form__question {
  margin-top: 1em;
  font-size: 1em;
  text-align: center;
}
.form__question__text {
  color: #333;
}
.form__question__link {
  color: #007BFF;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.form__question__link:hover {
  color: #0056b3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  z-index: 4;
  background-color: transparent;
}
.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 100%;
}
.header__buttons {
  justify-self: end;
}
.header__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
}
.header__item {
  justify-self: center;
}
.header__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.background {
  position: absolute;
  z-index: -10;
  width: 100%;
}
.background__container {
  position: relative;
}
.background__item {
  position: absolute;
}
.background__blob {
  padding: 3%;
  position: absolute;
  width: 100%;
}
.background__secondary-item {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 40%;
}
.background__base-item {
  position: relative;
}

@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.main-screen {
  height: calc(100vh - 4em);
}

.main-form {
  position: absolute;
  width: 30%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 6;
  padding: 3% 0;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s linear 0.5s;
}
.main-form .form {
  padding: 0 10%;
}
.main-form.show {
  animation: fadeInScale 0.5s ease forwards;
  opacity: 1;
  visibility: visible;
  transition: none;
}
.main-form.hide {
  animation: fadeOutScale 0.5s ease forwards;
  visibility: hidden;
  transition: visibility 0s linear 0.5s;
}
.main-form__close {
  position: absolute;
  right: 4%;
  top: 4%;
  z-index: 1;
}
.main-form .form {
  flex: 1 0 100%;
}
.main-form__container {
  display: flex;
  width: 100%;
  position: relative;
  left: 0;
}
.main-form__container.animate {
  transition: all 0.5s ease;
}
.main-form__container.shift {
  left: -100%;
}

.content {
  transition: filter 0.5s ease;
}
.content:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: filter 0.5s ease;
}
.content.blur {
  filter: blur(10px);
  transition: filter 0.5s ease;
}
.content.blur:before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

.alert {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}/*# sourceMappingURL=main.css.map */