$container-width: 1200px;
$header-height: 4em;
$statistics-heigth: 6em;
$banner-main-screen: calc(100vh - $header-height);

$blue-color: rgba(31, 106, 132, 1);
$green-color: rgba(178, 223, 110, 1);
$teal-color: rgba(101, 184, 156, 1);
$light-grey-color: rgb(137, 137, 137);
$utility-color: #333;