@use '../abstracts/_index' as abs;

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100% - abs.$statistics-heigth);
    align-items: center;

    &__img-container {
        width: 100%;
        bottom: 0;
        background: linear-gradient(90deg, #092F3F, #90E9DF);
        z-index: -1;
    }

    &__image-mask {
        position: relative;
        @include abs.center-horizontally(50%);
        bottom: 1px;
        z-index: 3;
        width: 98%;
    }

    &__img {
        width: 60%; 
        position: relative; 
        height: auto;
        justify-self: center;
    }

    &__filter {
        width: 100%;
        aspect-ratio: 1/1;
        position: absolute;
        bottom: 0;
        border-radius: 50%;
        box-shadow: inset -1px -46px 29px -7px #70bab4, 
                    59px 31px 28px -28px #b3b3b3, 
                    90px 77px 45px -58px #ffffff, 
                    88px 74px 57px -34px #b3b3b3, 
                    15px 38px 20px -30px #0c0c0c;
        z-index: 3;
    }
}